# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iml
*.xml
*.ppm
*.jpg
*.rar
*.cmake
*.bin
*.make
*.cbp
*.log
*.marks
*.rsp
single_image/Artusi_A_et_al/python/main.py
single_image/RealTimeSpecularHighlightRemoval-master/.gitattributes
single_image/RealTimeSpecularHighlightRemoval-master/.idea/$CACHE_FILE$
single_image/RealTimeSpecularHighlightRemoval-master/.idea/.name
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeCache.txt
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/clion-environment.txt
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/clion-log.txt
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/cmake.check_cache
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/Makefile2
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/RealTimeSpecularHighlightRemoval_master.dir/link.txt
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/CMakeFiles/TargetDirectories.txt
single_image/RealTimeSpecularHighlightRemoval-master/cmake-build-debug/Makefile
single_image/RealTimeSpecularHighlightRemoval-master/CMakeLists.txt
single_image/RealTimeSpecularHighlightRemoval-master/include/SpecularHighlightRemoval/Clustering.h
single_image/RealTimeSpecularHighlightRemoval-master/include/SpecularHighlightRemoval/ColorProcessing.h
single_image/RealTimeSpecularHighlightRemoval-master/include/SpecularHighlightRemoval/SpecularHighlightRemoval.h
single_image/RealTimeSpecularHighlightRemoval-master/include/SpecularHighlightRemoval/useCUDA.h
single_image/RealTimeSpecularHighlightRemoval-master/main.cpp
single_image/RealTimeSpecularHighlightRemoval-master/README.md
single_image/RealTimeSpecularHighlightRemoval-master/sample.bmp
single_image/RealTimeSpecularHighlightRemoval-master/src/SpecularHighlightRemoval/Clustering.cu
single_image/RealTimeSpecularHighlightRemoval-master/src/SpecularHighlightRemoval/ColorProcessing.cu
single_image/RealTimeSpecularHighlightRemoval-master/src/SpecularHighlightRemoval/SpecularHighlightRemoval.cpp
single_image/TanR_and_IkeuchiK/highlight/.idea/.name
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeCache.txt
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/clion-environment.txt
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/clion-log.txt
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/cmake.check_cache
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/highlight.dir/CXX.includecache
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/highlight.dir/depend.internal
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/highlight.dir/link.txt
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/Makefile2
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/CMakeFiles/TargetDirectories.txt
single_image/TanR_and_IkeuchiK/highlight/cmake-build-debug/Makefile
